@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.inicio {
    font-family: 'Alkatra', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(20, 20, 20); 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 14vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}
/* login.css */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
}
#registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}
.h1registro{
    margin-bottom: 0;
}

.row {
    width: 100%;
    max-width: 500px;
}

.card {
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 80%; 
    margin: auto;
    margin-bottom: 35%;
}

.card-header {
    text-align: center;
    color: rgb(0, 0, 0);
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.input-group-text {
    color: #000000; 
    border: none;
    margin-right: 20px;
}

.form-control {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #000; 
    border-radius: 0;
    height: 20px;
    font-size: 18px;
    outline: none;
    transition: border-bottom 0.3s ease, transform 0.3s ease;
}
.form-control::placeholder {
    color: #303030; /* placeholder blanco */
}

.form-control:focus {
    border-bottom: 2px solid #000; /* línea inferior negra cuando está enfocado */
    transform: scale(1.05);
}

.login-button {
    display: flex;
    justify-content: space-around; /* Alinea los elementos uniformemente en el contenedor */
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff; /* texto blanco */
    background-color: #000; /* fondo negro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333; /* fondo gris oscuro al pasar el ratón */
}